<div class="container-fluid">
  <h2 class="text-center">Give Us Your Best Quote</h2>
  <hr>
  <form>
    <div class="form-group">
      <label for="title">Quote Title:</label>
      <input type="text"  class="form-control" id="title" required>
    </div>
    <div class="form-group">
      <label for="quote">Quote:</label>
      <textarea class="form-control" id="quote" rows="5" required></textarea>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" class="form-control" id="author" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="addedBy">Added By:</label>
          <input type="text" class="form-control" id="addedBy">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="dateAdded">Date Added: </label>
      <input type="date" id="dateAdded" required>
    </div>
    <div class="form-row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-secondary">Add Quote</button>
      </div>
      <div class="col-md-4"></div>
    </div>
    
  </form>
</div>
