<div class="container" id="about">
  <h2 id="About">About</h2>
  <p>Welcome to Sayingfy!</p>
  <p>Where you can vote on the quotes added by other users</p>
  <p>And share the quotes that are closest to your heart</p>
</div>

<!--Add scrolling effect-->
<div class="parallax">
 
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Quotes</h2>
        <hr>
        <ul class="quotes">
          
          <div *ngFor='let quote of quotes; let i = index'>
            
          <!--Incorporate custom directive-->
            
            <!-- <p appHighlightMostUpvotes *ngIf="mostUpvotes()===quote.upvotes && quote.upvotes>0"></p>
              {{quote.title | uppercase}} -->
            <li appHighlightMostUpvotes class="badge">{{quote.title | uppercase}}</li>
             
            <button class="btn btn-dark" (click)="showQuote(i)">View Quote</button> 

   <!--Nest quote-content, quote-details, and quote-form components and show and hide quote content and details-->
            <app-quote-content *ngIf="quote.showQuoteDetails" [quote]='quote'></app-quote-content>          
            <app-quote-details *ngIf="quote.showQuoteDetails" [quote]='quote' (isRead)="quoteBeGone($event, i)"></app-quote-details>
            
          </div>
        </ul>
      </div>
     
      <div class="col-md-6">
        <app-quotes-form (addQuote)="addAddedQuote($event)"></app-quotes-form>
      </div>
    </div>
  </div>
</div>

