<p>"{{quote.quote}}"</p>
<p>Author: {{quote.author}}</p>
<p>Added On: {{quote.dateCreated | date}}</p>
<p>Added By: {{quote.addedBy}}, {{quote.dateCreated | countDays}} days ago</p>
<p>Upvotes: </p>
<p>Downvotes: </p>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-info">Upvote</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-info">Downvote</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-danger" (click)="deleteQuote(true)">Delete Quote</button>
  </div>
</div>











