
<p>Author: {{quote.author}}</p>
<p>Added On: {{quote.dateCreated | date}}</p>
<p>Added By: {{quote.addedBy}}, {{quote.dateCreated | countDays | number:'1.0-0'}} days ago</p>
<p>Votes: {{votes}}</p>
<p>Upvotes: {{upvotes}}</p>
<p>Downvotes: {{downvotes}}</p>
<!-- Create upvote, downvote, and delete buttons and use unique event handlers to capture click events -->
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-info" (click)="liked()">Upvote</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-info" (click)="disliked()">Downvote</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-danger" (click)="deleteQuote(true)">Delete Quote</button>
  </div>
</div>











